{% extends "home.html" %}
{% load static %}

{% block content %}


<div class="row">
    <div class="col-4"></div>
    <div class="col-4 mt-4 card">
        <h3 style="font-family: Georgia, serif; font-size: 40px;" class="text-center my-5">Login Page</h3> 
        <form action="" method="post" novalidate>
          {% csrf_token %}
          {% for fm in form %}
           <div class="form-group mb-2">
           {{fm.label_tag}} {{fm}} <small class="text-warning">{{fm.errors|striptags}}</small>
           </div>
          {% endfor %}
          {% if form.non_field_errors %}
          {% for error in form.non_field_errors %}
          <p class="alert alert-danger my-3">{{error}}</p>
          {% endfor %}
          {% endif %}
          <button type="submit" class="btn btn-dark btn-block mt-4">login</button>
         </form>

         <!-- Register buttons -->
               <div class="text-center mt-4 mb-4">
            <p>Not a member? <a class="text-dark" href="{% url 'signup' %}"><b>Register</b></a></p>
            </form>
            {% endblock content %}

           

           






            